* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: #edf2fc;
}


.hero {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}

nav {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: transform 0.3s ease;
  display: inline-block;
}

nav ul li a:hover {
  color: #ff4321;
  transform: scale(1.1);
}

.info {
  margin-left: 8%;
  margin-top: 15%;
}

.info h1 {
  font-size: 70px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

span {
  color: #ff4321;
  line-height: 22px;
}

.info a {
  background: var(--secondary-color);
  padding: 10px 20px;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.info p {
  color: var(--secondary-color);
  line-height: 22px;
}
.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.img-box img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.main-img {
  height: 110%;
}
.back-img {
  height: 100%;
}

.img-box:hover .back-img {
  bottom: 40px;
}

.img-box:hover .main-img {
  left: 54%;
}

#icon {
  width: 30px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}
